.logo {
	height: 60px;
	width: auto;
	padding: 10px;
}

nav {
	background-color: #412155;
	overflow: hidden;
}

nav a {
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 20px;
	margin: 10px;
	text-decoration: none;
	font-family: 'Sofia Pro Soft', sans-serif;
	font-size: 20px;
}

nav a:hover {
	color: purple;
}

nav a.active {
	color: purple;
}

nav .icon {
	display: none;
}

@media screen and (max-width: 600px) {
	nav a:not(:first-child) {
		display: none;
	}

	nav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	nav.responsive {
		position: relative;
	}

	nav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	nav.responsive a {
		float: none;
		display: block;
		text-align: center;
	}
}

body {
	background-color: #402856;
	color: white;
	font-family: 'Sofia Pro', sans-serif;
	font-size: 15px;
}

.about-info {
	padding: 2em;
	text-align: center;
}

h1 {
	font-family: 'Congenial', sans-serif;
	font-size: 25px;
}

h2 {
	font-family: 'Sofia Pro', sans-serif;
	font-size: 20px;
}

.about-info p a {
	text-decoration: underline;
	cursor: pointer;
	color: white;
}
