.logo {
	height: 60px;
	width: auto;
	padding: 10px;
	float: left;
}

nav {
	background-color: #412155;
	overflow: hidden;
}

body {
	background-color: #402856;
	text-align: center;
}

.menu-container {
	display: block;
	padding: 3em;
	background-color: #412155;
}

title {
	font-family: congenial, sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
}

p {
	font-family: sofia-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: white;
}

.button-container {
	padding: 3em;
	border-radius: 40px;
	display: block;
}

nav a {
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 20px;
	margin: 10px;
	text-decoration: none;
	font-family: 'Sofia Pro Soft', sans-serif;
	font-size: 20px;
}

nav a:hover {
	color: purple;
}

.active {
	display: block;
}

.builder > .step-two,
.step-three,
.step-four {
	display: none;
}

nav a.active {
	color: purple;
}

nav .icon {
	display: none;
}

@media screen and (max-width: 600px) {
	nav a:not(:first-child) {
		display: none;
	}

	nav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	nav.responsive {
		position: relative;
	}

	nav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	
	nav.responsive a {
		float: none;
		display: block;
		text-align: center;
	}
}

body {
	background-color: #402856;
	color: white;
	font-family: 'Sofia Pro', sans-serif;
	font-size: 15px;
}

h1 {
	font-family: 'Congenial', sans-serif;
	font-size: 25px;
}

h2 {
	font-family: 'Sofia Pro', sans-serif;
	font-size: 20px;
}

h3 {
	font-family: 'Sofia Pro', sans-serif;
	font-size: 20px;
}

h4 {
	font-family: 'Sofia Pro', sans-serif;
	font-size: 20px;
}

.builder {
	display: block;
	margin: 3em;
}

.options {
	display: inline-block;
}

.cookie {
	position: relative;
	height: 20em;
	padding-bottom: 20px;
}

.cookie-img {
	position: absolute;
	width: 70%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	left: 0;
	right: 0;
	display: none;
	max-width: 300px;
}

.cookie-and-steps {
	display: block;
	position: relative;
	height: 20em;
	padding-bottom: 20px;
}

.next-button {
	background-color: #a53196;
	color: white;
	padding: 1em 3em 1em 3em;
	margin: 1em 7em 1em 7em;
	border-radius: 50px;
	text-align: center;
}

.ux-button {
	background-color: #a53196;
	color: white;
	padding: 1em 3em 1em 3em;
	margin: 1em 7em 1em 7em;
	border-radius: 50px;
	text-align: center;
	display: block;
}

.wireframe-button {
	background-color: #a53196;
	color: white;
	padding: 1em 3em 1em 3em;
	margin: 1em 7em 1em 7em;
	border-radius: 50px;
	text-align: center;
	display: block;
}

.proposal-button {
	background-color: #a53196;
	color: white;
	padding: 1em 3em 1em 3em;
	margin: 1em 7em 1em 7em;
	border-radius: 50px;
	text-align: center;
	display: block;
}

.next-button-two {
	background-color: #a53196;
	color: white;
	padding: 1em 3em 1em 3em;
	margin: 1em 7em 1em 7em;
	border-radius: 50px;
	text-align: center;
}

.next-button-three {
	background-color: #a53196;
	color: white;
	padding: 1em 3em 1em 3em;
	margin: 1em 7em 1em 7em;
	border-radius: 50px;
	text-align: center;
}

.next-button-four {
	background-color: #a53196;
	color: white;
	padding: 1em 3em 1em 3em;
	margin: 1em 7em 1em 7em;
	border-radius: 50px;
	text-align: center;
}

.next-button:hover {
	color: purple;
}

.next-button-two:hover {
	color: purple;
}

.next-button-three:hover {
	color: purple;
}

.next-button-four:hover {
	color: purple;
}

.page-dots {
	position: relative;
	display: block;
	text-align: center;
	margin-top: 10px;
}

.dot {
	height: 10px;
	width: 10px;
	margin: 2px;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
}

.dot-active {
	height: 10px;
	width: 10px;
	margin: 2px;
	background-color: #d2b5ff;
	border-radius: 50%;
	display: inline-block;
}

.frosting-img {
	position: absolute;
	width: 70%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	left: 0;
	right: 0;
	display: none;
	max-width: 300px;
}
