.build-your-own-button {
	background-color: #a53196;
	color: white;
	padding: 1em 7em 1em 7em;
	border-radius: 50px;
	text-align: center;
	text-decoration: none;
}

.page-heading {
	font-family: 'Congenial', sans-serif;
	font-size: 40px;
	padding-top: 50px;
}

.photo-container {
	background: url('https://i.ibb.co/PFBtm5B/Main-Image.jpg') repeat;
	height: 400px;
}

.logo {
	height: 60px;
	width: auto;
	padding: 10px;
	float: left;
}

nav {
	background-color: #412155;
	overflow: hidden;
}

.button-container {
	padding: 3em;
	border-radius: 40px;
	display: block;
}
