body {
    background-color: #402856;
    color: white;
    font-family: 'Sofia Pro', sans-serif;
    font-size: 15px;
    text-align: center;
}

.back-to-main {
    background-color: #A53196;
    color: white;
    padding: 1em 2em 1em 2em;
    margin: 1em 7em 1em 7em;
    border-radius: 30px;
    text-align: center;
    display: block;
  }
    