// You can still use import to import a stylesheet from Google Fonts.
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&family=Encode+Sans+Semi+Condensed:wght@700&display=swap');

// Your typography styles here.
body {
	background-color: #402856;
	text-align: center;
}

title {
	font-family: congenial, sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
}

p {
	font-family: sofia-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: white;
}

h1 {
	font-family: 'Congenial', sans-serif;
	font-size: 25px;
	color: white;
}

h2 {
	font-family: 'Sofia Pro', sans-serif;
	font-size: 20px;
	color: white;
}

h3 {
	font-family: 'Sofia Pro', sans-serif;
	font-size: 20px;
	color: white;
}

h4 {
	font-family: 'Sofia Pro', sans-serif;
	font-size: 20px;
	color: white;
}
